<header class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <h1 class="text-center">Hermes <span class="tight">Messenger App</span></h1>
    </div>
</header>
<div id="wrapper" class="messages clearfix">
    <ul>
        <li ng-repeat="msg in messages">
            <div class="container">
                <div class="row">
                    <div class="offset3 span6">
                        <div class="name muted">{{msg.name}}</div>
                        <div class="message">{{msg.msg}}</div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>
<footer>
    <div class="footer-top"></div>
    <div class="footer-main">
        <div class="container">
            <div class="row">
                <div class="offset3 span6 input-area">
                    <textarea ui-keypress="{'enter':'sendMessage($event)'}" ng-model="message" class="span6" rows="4"></textarea>
                    <div ng-click="sendMessage($event)" class="btn pull-right"><i class="icon-pencil"></i> Send</div>
                </div>
            </div>
        </div>
    </div>
</footer>
